* {
    margin: 0;
    padding: 0;
}

body {
    font-family:
        'Montserrat', sans-serif;
}

.top {
    height: 735px;
    background-image: url(image/index/topback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.catalog {
    height: 400px;
    background-image: url(image/catalog/catalog.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 64px;
}

.catalog_product_box {
    margin-top: 32px;
    margin-bottom: 32px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    height: 41px;
    flex-shrink: 0;
    outline: none;
    color: #000000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

.select {
    width: 288px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    cursor: pointer;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    font-family: Montserrat;
}

select ::-ms-expand {
    display: none;
}

.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
    margin-right: 20px;

}

select,
.select::after {
    grid-area: select;
}

.header {
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #FFFFFFCC;
    flex-wrap: wrap;
}

.logo1 {
    margin-top: 24px;
    margin-bottom: 16px;
}

.logo_input {
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: inherit;
}

.nav {
    height: 44px;
}

.menu {
    display: flex;
    gap: 32px;
    padding-top: 12px;

    &-mob {
        display: none;
    }
}

.top-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 682px;
}

.catalog_menu {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;

}

.catalog_line-14-15 {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-decoration: none;
}

.catalog_line-14-15:hover {
    text-decoration: underline;
}

.heading {
    color: #000000;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.for-box {
    padding-top: 64px;
}

.for {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 32px;
}

.for_item {
    height: 415px;
    grid-column: span 4;
    color: #ffffff;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for_item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px #ccc;
}

.for_item_big {
    grid-column: span 6;
}

.for_item_1 {
    background-image: url(image/index/for-1.jpg);
    transition: all 0.3s;
}

.for_item_2 {
    background-image: url(image/index/for-2.jpg);
    transition: all 0.3s;
}

.for_item_3 {
    background-image: url(image/index/for-3.jpg);
    transition: all 0.3s;
}

.for_item_4 {
    background-image: url(image/index/for-4.jpg);
    transition: all 0.3s;
}

.for_item_5 {
    background-image: url(image/index/for-5.jpg);
    transition: all 0.3s;
}

.product_box {
    padding-top: 72px;
}

.product_content {
    flex-wrap: wrap;
    margin-top: 32px;
    column-gap: 32px;
    row-gap: 56px;
    display: flex;
}

.product_box_price {
    display: flex;
    gap: 32px;

}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px #ccc;
}

.product {
    transition: all 0.3s;

    width: 378px;
    top: 1896px;
    left: 116px;
    border: 1px;
    display: flex;
    flex-direction: column;
}

.product_img {
    width: 100%;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.link-box {

    margin-top: 39px;
}

.link {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
    padding-bottom: 34px;

    &:hover {
        text-decoration: none;
        color: #888888;
    }
}

.header_input {
    width: 288px;
    height: 41px;
    border-radius: 20px;
    border: 1px solid #FFF;
    background-color: transparent;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    font-family: inherit;
}

.footer_input {
    width: 260px;
    height: 40px;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    outline: none;
    flex-shrink: 0;
    fill: #ffffff;
    stroke-width: 1px;
 
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    font-family: inherit;
    color: black;
}

.header_input::placeholder {
    color: #ffffff;

}

.line-14-15 {
    font-size: 16px;
    color: gray;
    text-decoration: none;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.line-14-15:hover {
    text-decoration: underline;
}

.section1 {
    width: 1236px;
    flex-shrink: 0;
}

.line-19_catalog {
    font-weight: 600;
    font-size: 63px;
    line-height: 70px;
    margin-top: 127px;
    color: #ffffff;
    font-style: normal;
    max-width: 792px;

}

.line-19 {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 63px;
    margin-bottom: 16px;
    color: #ffffff;
    font-style: normal;
    max-width: 792px;

}

.line-20 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
}

.line-21 {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;

    &:hover {
        text-decoration: none;
    }
}

.line-24 {
    font-weight: 600;
    font-size: 48px;

    margin-bottom: 32px;
    color: #000000;
    font-style: normal;
    line-height: normal;
}

.line-26 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-top: 10px;
    margin-bottom: 8px;
    color: #000000;
}

.line-27 {
    font-size: 14px;
    margin-bottom: 12px;
    color: #888888;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product_price {
    font-weight: 500;
    font-size: 24px;
    color: #050505;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
}

.product_price_sale {
    color: #888888;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: line-through;
    margin-right: 61px;
}

.logo_svg {
    color: #000000;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.line-33-37 {
    color: #000000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer {
    background: #F7F6F6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #888888;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-top: 64px;
    height: 207px;
}

.footer_menu {
    color: #888888;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.footer_menu:hover {
    text-decoration: underline;
}

.footer_content {
    width: 789px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_info {
    display: flex;
    justify-content: space-between;
    gap: 129px;
    padding-top: 5px;
}

.footer_text {
    color: #000000;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.footer_logo {
    padding-top: 40px;
    padding-bottom: 49px;
}

.nav_footer_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 17px;
}

.footer_form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 32px;
    padding-bottom: 14px;
}

.footer_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 19.34px
}

.footer_icon path {
    transition: fill 0.3s;
}

.footer_icon:hover path {
    fill: #000000;
}

.line-44 {
    color: #000000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.line-46 {
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid #DED7D769;
    box-sizing: border-box;
    border-radius: 20px;
    width: 260px;
    height: 46px;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    transition: all 0.3s;
}

.line-46:hover {
    color: white;
    background-color: #000000;
}

.cart_button {
    padding-top: 10px;
    width: 200px;
    height: 37px;
    display: block;
    color: #020202;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #000;
    align-items: center;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
}

.img-1 {
    align-self: flex-start;
}

.img-2 {
    align-self: flex-start;
}

@import 'cart';
@import 'tablet';
@import 'mobile';